<div class="wrapper">
    <div class="body text-center" *ngIf="!loading">
        <img class="logo" src="../../../assets/images/login.png" alt="img login"/>
        <h2 class="text-center mb-3">Login</h2>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person-fill fs-4"></i></span>
            <div class="form-floating ">
                <input type="text" [(ngModel)]="username" class="form-control" placeholder="name@example.com">
                <label>Usuario</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-lock-fill fs-4"></i></span>
            <div class="form-floating ">
                <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password">
                <label>Password</label>
            </div>
        </div>
        <button type="button" (click)="login()" class="btn btn-primary btn-lg w-100 mb-2">
            Aceptar
            <i class="bi bi-box-arrow-in-right"></i>
        </button>
        <p class="text-center fw-bold mb-2">¿Aún no tiene una cuenta?</p>

        <button type="button" routerLink="/signin"
            class="btn btn-outline-primary btn-lg w-100 mb-2" >
            Regístrese
        </button>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>

